{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% form_theme form '@EzPlatformAdminUi/form_fields.html.twig'  %}

{% trans_default_domain 'edgarezuifavicon' %}

{% use '@EzPlatformAdminUi/fieldtypes/edit/binary_base.html.twig' %}
{% use '@EdgarEzUIFavicon/fieldtypes/binary_base.html.twig' %}

{% block body_class %}ez-info-view{% endblock %}

{% block breadcrumbs %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.sites'|trans(domain='messages')|desc('Sites') },
        { url: path('edgar.ezuifavicon.favicons'), value: 'favicons.view'|trans|desc('Favicons') },
    ]} %}
{% endblock %}

{% block page_title %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'favicons.view.title'|trans|desc('Favicons'),
        iconName: 'archive-restore'
    } %}
{% endblock %}

{% block content %}

    <section class="container mt-4">
        {{ form_start(form, { 'action': path('edgar.ezuifavicon.favicons') }) }}

            {{ form_widget(form.site) }}

            {%- block ezimage_row -%}
                {% set preview_block_name = 'ezimage_preview' %}
                {% set max_file_size = 1024 %}
                {% set attr = {'accept': 'image/*'} %}
                {{ block('binary_base_row') }}
            {%- endblock -%}

            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">
                </svg>
                    {{ 'dashboard.perform'|trans|desc('Generate') }}</button>
            </span>

        {{ form_end(form) }}

    </section>

    {%  javascripts
        '@EzPlatformAdminUiBundle/Resources/public/js/scripts/fieldType/base/base-field.js'
        '@EzPlatformAdminUiBundle/Resources/public/js/scripts/fieldType/base/base-file-field.js'
        '@EzPlatformAdminUiBundle/Resources/public/js/scripts/fieldType/base/base-preview-field.js'
        '@EzPlatformAdminUiBundle/Resources/public/js/scripts/fieldType/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}


