{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% form_theme form '@EzPlatformAdminUi/form_fields.html.twig'  %}

{% trans_default_domain 'edgarezuifavicon' %}

{% block body_class %}ez-info-view{% endblock %}

{% block breadcrumbs %}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.sites'|trans(domain='messages')|desc('Sites') },
        { url: path('edgar.ezuifavicon.favicons'), value: 'favicons.view'|trans|desc('Favicons') },
    ]} %}
{% endblock %}

{% block page_title %}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'favicons.view.title'|trans|desc('Favicons'),
        iconName: 'archive-restore'
    } %}
{% endblock %}

{% block content %}

    <section class="container mt-4">
        {{ form_start(form, { 'action': path('edgar.ezuiinfobundles.list') }) }}

        <div class="input-group">
            {{ form_widget(form.site) }}
            {{ form_widget(form.image) }}
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">
                <svg class="ez-icon ez-icon-search-button">
                    <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#search"></use>
                </svg>
                    {{ 'dashboard.perform'|trans|desc('Search') }}</button>
            </span>
        </div>

        {{ form_end(form) }}

    </section>

{% endblock %}
